.poem {
  p {
    margin: 0;
    line-height: 26px;
  }
}
.contentContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.content {
  flex: 1;
  max-width: 500px;
  margin: auto 50px;
}
.image {
  flex: 1;
  img {
    max-width: 600px;
  }
}
.donations {
  margin-top: 34px;
}

@media only screen and (max-width: 800px) {
  .contentContainer {
    flex-direction: column;
  }
  .image {
    order: 1;
    img {
      width: 100%;
    }
  }
  .content {
    order: 2;
    text-align: center;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }
}