@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Source+Sans+Pro&display=swap');
html {
  height: 100%;
}
body {
  color: #333;
  margin: 0;
  height: 100%;
  overflow: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .08rem;
}

a:visited {
  color: inherit;
}

.homeNav {
  width: 500px;
  margin: auto;
}
.nav {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 50px 13px;
  li {
    list-style-type: none;
    text-align: center;
    width: 220px;
  }
  a {
    color: #333333;
  }
}

.container {
  max-width: 1200px;
  margin: auto;
  position: relative;
}

.header, .footer {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

.header h3 {
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  color: #333;
}

.header h1, .header h3, .header p, .footer h2, .footer p {
  text-align: center;
}

.header h2, .footer h2 {
  margin-bottom: 0;
}

.header p, .footer p {
  margin-bottom: 30px;
}


.footer {
  margin-top: 100px;
}

.headerImage {
  max-width: 990px;
  margin: auto;
}

.background {
  background-image: url(../src/static/bg.png);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  z-index: -1;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 70px;
  margin-bottom: 0;
}

h3 {
  font-size: 32px;
  margin-bottom: 8px;
}

p {
  font-family: 'Source Sans Pro', serif;
  font-size: 18px;
}

.spacing {
  height: 200px;
}

.spacer {
  height: 60px;
}

.cta {
  padding: 13px 21px;
  background: #2B2D3B;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 2px solid #2B2D3B;
  color: #fff !important;
  font-size: 16px;
}
.cta a {
  color: inherit;
}

.cta:hover {
  background: transparent;
  color: #2B2D3B;
  border: 2px solid #2B2D3B;
}

.cta:hover a {
  color: #2B2D3B;
}

.pageTitle {
  text-align: left;
  font-size: 30px;
}
